.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	gap: 12px;
}

.checkbox {
	display: flex;
	gap: 12px;
}

.button {
	display: flex;
	flex-direction: column;
	width: 390px;
}
